body { background-color: #e0f1f1; }
h3, h1, h2, p  { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}
#p1 {font-size: large;}
.meres {font-weight: 500; 
    text-align: center;
font-size: larger;}
.ores {font-weight: 500;
    font-size: larger;}
.thl {font-weight: 500; 
    font-size: x-large;
     position: relative; left: 334px; bottom: 5px;}
 #hr-top {border-color: green; border-bottom: 0ch; position: relative; left: 0px;}
 #hr-bottom {border-bottom: 0mm; border-color: black;}
 #hr-d {position: absolute; top: 395px; left:661px; width: 7%;
    border-color: black;
    border-width:  5px;
    border-style: none; 
    border-top-style: dotted}
#thl-ep {position: relative; left: 248px; bottom: 50px;}
#h1-top { text-align: center;}
#sm {text-align: center;}
.fa-brands { margin-left: 20px; font-size: 25px; 
     border: solid; border-radius: 6px; padding: 5px; background-color: black; color: white; }
     a[href] {color: black; text-decoration: none;}
     
